body{
    background-image: url(/imagenes/fondoform.jfif);
    background-size:cover;
    background-repeat: no-repeat;
}


form {
    width: 60%;
    margin: 30px auto; 
    color:rgb(61, 57, 57) 
    
}

h1{
    text-align: center;
    color: rgb(99, 20, 92);
}

.textop {
    text-align: justify; 
    font-size: 20px;   
    color: rgb(98, 88, 107)
}

.acepto{
    display: flex; 
    line-height: 1.15

}




